
@font-face {
  font-family: 'Calibri';
  /* src: url('Calibri.eot'); */
  src: url('../Calibri.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Calibri.woff') format('woff'),
  url('../fonts/Calibri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'Calibri';
    /* src: url('Calibri-Bold.eot'); */
    src: url('../Calibri-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri-Bold.woff') format('woff'),
    url('../fonts/Calibri-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    }

    @font-face {
      font-family: 'SF UI Display Medium';
      /*src: url('../fonts/sf_ui_display_medium.eot');  IE 9 Compatibility Mode */
      src: url('../fonts/sf_ui_display_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
        url('../fonts/sf_ui_display_medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/sf_ui_display_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
        url('../fonts/sf_ui_display_medium.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/sf_ui_display_medium.svg#sf_ui_display_medium') format('svg'); /* Chrome < 4, Legacy iOS */
    }

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

html {
  font-family: 'Calibri', sans-serif;
}

body {
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  background-position: 43% 15%;
  padding-top: 28px;
}

.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
	/* position: fixed;	 */
	width: 100%;
	top: 0;
	left: 0;
	z-index: 30;
}
.header:before{
	content: "";
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	background: transparent;
	z-index: 2;
}

.header__body {
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 80px;
	align-items: center;
}
.header__logo  {
	flex: 0 0 70px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	z-index: 3;
	/*width: 70px;
	height: 70px;*/
	/*clip-path: circle(50% at 50% 50%);*/
}
.header__logo img{
	max-width: 100%;
	object-fit: cover;

}
.header__burger {
	display: none;
}

.header__list {
	display: flex;
	position: relative;
	z-index: 2;
}
.header__list li{
	margin:0 0 0 20px;
	white-space: nowrap;
}
.header__link {
	color: rgb(0, 0, 0);
	font-size: 18px;
}

.content__text {
	padding: 100px 0 0 0;
}
@media (max-width: 1200px){
	body.lock{
		overflow: hidden;
	}
	.header__body{
		height: 50px;
	}
	.header__logo{
		flex: 0 0 40px;
	}
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.header__burger span{
		position: absolute;
		background-color:  rgb(0, 0, 0);
		position: absolute;
		left: 0;
		top: 9px;
		width: 100%;
		height: 2px;
		transition: all 0.4s ease 0s;
	}

.header__burger:before,.header__burger:after{
	content: "";
	background-color: rgb(0, 0, 0);
	position: relative;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0;
	display:block;
	transition: all 0.4s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		top: 17px;
	}
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 10px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		top: 9px;
	}
	.header__burger.active span{
		transform:scale(0);
	}
	.header__menu {
		overflow: auto;
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fb973b;
		padding: 70px 10px 20px 10px;
		transition: all 0.4s ease 0s;
	}
	.header__menu.active{
		top: 0;
	}
	.header__list{
		display: block;
	}
	.header__list li,
  a.nav-tel {
		margin: 0 0 20px 0;
	}
	.content__text{
		padding: 70px 0 0 0;
	}
	.header__link,
  a.nav-tel {
		font-size: 24px;
    font-weight: normal;
    color: #ffffff;
	}
  a.nav-link {
    font-size: 24px;
    font-weight: normal;
    color: #ffffff;
  }

}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-size: 18px;
  font-weight: normal;
  color: #616161;
}

.nav-item .nav-link:hover {
  text-shadow: 0 0 1px #616161;
}

.nav-item:not(:last-child) {
  margin-right: 75px;
}

.nav-tel {
  margin-left: 117px;
  font-size: 18px;
  font-weight: bold;
  color: #141419;
}

.nav-tel:hover {
  text-shadow: 0 0 1px #141419;
}

.form {
  display: flex;
}

.form-tel {
  width: 195px;
  height: 58px;
  padding-left: 30px;
  font-size: 20px;
  border-right: none;
  outline: none;
}

.btn {
  padding: 18px 52px;
  font-family: 'SF UI Display Medium';
  font-size: 18px;
  color: white;
  background-color: #fb973b;
  cursor: pointer;
  border: none;
  outline: none;
}

.section-hero {
  background-image: url(../img/cow.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 465px)  21px;
}

.hero-container {
  padding-top: 81px;
  padding-bottom: 208px;
}

.hero-content {
  max-width: 54%;
}

.yellow {
  color: #fb973b;
}

.section-hero-img {
  position: absolute;
  right: -265px;
  top: 115px;
}

.section-hero-heading {
  margin-top: 0;
  margin-bottom: 17px;
  line-height: 72px;
  font-size: 60px;
  font-weight: bold;
  font-family: Calibri;
}

.title-underline {
  background-image: linear-gradient(to right, #fb973b 0%, #fb973b 100%);
  background-repeat: repeat-x; 
  background-position: 0 75%; 
  background-size: 100% 0.16em; 
}

.section-hero-description {
  margin: 0 0 36px 0; 
  max-width: 369px;
  font-size: 24px;
  line-height: 36px;
}

.section-description {
  margin-bottom: 39px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 510px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  transform: translateX(16px);
}

.section-heading {
  margin: 0 0 11px 0;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: Calibri;
  transform: translateX(16px);
}

.section-do-lr {
  display: flex;
  justify-content: center;
  margin-bottom: 97px;
}

.section-do-right {
  text-align: center;
  max-width: 401px;
}

.section-do-img {
  margin-right: 30px;
}

.section-do__number {
  font-size: 15px;
  line-height: 23px;
  display: inline-block;
  width: 23px;
  height: 23px;
  border: #fb973b solid 1px;
  border-radius: 50%;
  position: relative;
  transform: translateX(-3px);
}

.section-do__number::after,
.section-do__number::before {
content: "";
position: absolute;
transform: translateX(10px);
display: block;
width: 1px;
height: 20px;
bottom: -20px;
background-color: #fb973b;
}

.section-do__number::before {
  top: -21px;
}

.first::before {
  display: none;
}

.section-do-p {
  text-align: center;
  margin-top: 28px;
  margin-bottom: 34px;
  font-size: 18px;
  line-height: 25px;
  font-family: 'Calibri Regular', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.footer-left-h2 {
  margin-top: 0;
  margin-bottom: 46px;
  font-size: 60px;
  font-weight: bold;
  font-family: Calibri;
}

.footer-left-description{
  max-width: 264px;
  font-size: 24px;
} 


.footer-left {
  max-width: 422px;
}

.footer-right {
  margin-top: 20px;
  max-width: 668px;
}

.footer-right-img {
  margin-right: 150px;
  margin-bottom: 60px;
}

.footer-right-img:nth-child(2n) {
  margin-right: 0px;
}

